.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input{
  border-style: ;
  border-color: grey;
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
 
  border-radius: 5px;
}

.form button{
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.bbtn{
  color: white;
}

.bbtn:hover{
  background-color: #4f709c;
 color: white;
 box-shadow: 0 4px 16px #4f709c;
  transition: all 0.2s ease;
}
