.container{
    height: 100vh;
    width: 20vw;
    background-color: #F5EFE7;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-top: 35px;
  
}
.links1{
    display: flex;
    flex-direction: column;
}
.links2{
    display: flex;
    flex-direction: column;
}
.container a{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 45px;
}

.container a span{
    color: #D8C4B6;
}

